/* @import url('https://fonts.googleapis.com/css2?family=Amita:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Viga&display=swap');

html,body{
  background-image:url('./assets/bg-1.jpg');
  margin: 0;
  padding: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  overflow: auto;
  height: 100vh;
  width: 100vw;
}



 @tailwind base;
 @tailwind components;
 @tailwind utilities; */
 @import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Amita:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Viga&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');

html,body{
    background-image:url('./assets/bg-5_new.jpg');
    margin: 0;
    padding: 0;
    /* opacity: ; */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    overflow: auto;
    height: 100vh;
    width: 100vw;
  }

  ::-webkit-scrollbar{
    width: 5px;
  }
::-webkit-scrollbar-track{
  background-color: #052d54;
}
::-webkit-scrollbar-thumb{
  background-color: #54c8f9;
}


@tailwind base;
@tailwind components;
@tailwind utilities;
